[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pyarrow = "*"
geopandas = "*"
datetime = "*"
requests = "*"
rclone-python = "*"
matplotlib = "*"
seaborn = "*"
folium = "*"
shapely = "*"
h3 = "*"
rasterio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.5"
